body {
padding-top: 54px;
padding-bottom: 20px;
}
table{
  float:left;
  padding:10px;
  margin-right: 7vw;

}
.box{  margin-right:4px;
       margin-bottom:4px;

}
#game{
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 100% !important;
}

.dead{
  background-color: red;
}
.movable{
  background-color: lightgreen;
}


.score{
  display: flex;
  padding:10px;
  background-color: lightgreen;
  position: absolute;
  border-radius: 3px;
  justify-content:center;
  align-items:center;

}

.score1{

  width:100px;
  height:100px;
}

.score2{

  width:100px;
  height:100px;
}

.scorecontainer{
  position: absolute;
  display:flex;
  justify-content:center;
  width: 170px;
  height:170px;
  font-size: 30px
}

.scorecontainer1{
  left:50px;
}

.scorecontainer2{
  right: 50px;
}

.container{
width: 100%;
}
#questions{
display:none;
}

.playerPos{
 color:black;
}

.box{
height:4vw !important;
width:4vw !important;
}

.questioncontainer{
height:92%;
width: 50%;
background: #eee;
display: inline-block;
padding:5%;
border-radius: 8px;
display: flex;
justify-content:center;
align-items:center;

}

.hidden{
display: none;
}
#game{
margin-top: 10vh;
}
.questionContent{
margin:3px;
padding:4px;
font-size: 15px;
margin-bottom: 3vw;
}

.score{
height:6vw;
width: 6vw;
left:90%;
margin:2vw;
  transition: all 0.3s ease;
  font-size: 25px;
}

.pop{
transform: scale(1.4);
}
